<h1>Dashboard for <%= current_user.full_name %> </h1>
<%= link_to "Update Account", edit_user_path(current_user), class: "btn btn-primary" %>

<%= link_to "View Classes", klasses_path, class: "btn btn-primary" %>
<%= link_to "View Observations", dashboard_path, class: "btn btn-primary" %>
