<div class="container">
  <div class="row">
    <h1 class="main_head">Student Tracker</h1>
  </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col-10">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <%= image_tag "collaboration.jpg", size: "900x600", class: "d-block img-fluid" %>
              <div class="carousel-caption d-none d-md-block">
                <h3 font-weight-bold>Share Student Observations Between Teachers </h3>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "teacher_student.jpg", size: "900x600", class: "d-block img-fluid" %>
              <div class="carousel-caption d-none d-md-block">
                <h3 class="car-black font-weight-bold">Improve Student Performance With Increased Organization and Data Sharing</h3>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "parent_teacher.jpg", size: "900x600", class: "d-block img-fluid" %>
              <div class="carousel-caption d-none d-md-block">
                <h3 class ="car-black font-weight-bold">Increase Communication Between Teachers and Parents</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
